@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#myNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: goldenrod;
}
.fade-enter{
  opacity: 0.01;
}

*{
  box-sizing: border-box;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit{
  opacity: 1;
}

.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-out;
}

.Listo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogoLink{
 color: white;
 font-weight: bold;
 margin-right: 100px;
}


.routerLink{
  color: lightgray;
  text-decoration: none;
  margin-right: 40px;
}
.routerLink:hover , .LogoLink:hover{
color: white;
text-decoration: none;
}

.homePage_Container{
  text-align: center;
}

.homeLogo{
  box-sizing: border-box;
  margin: 40px auto;
}

.homeLogo img {
  width: 300px;
  float: left;
  max-height: 320px;
  margin-right: 20px;
}

.titleBox{
  display: flex;
  height: 320px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#cutie{
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  color: tomato;
}

h3{
  
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  word-wrap: none;
}