.card_container{
  box-sizing: border-box;
  display: grid;
  width: 700px;
  min-height: 400px;
  padding: 5px;
  border: lightgray solid 1.5px;
  grid-template-columns: 40% 60%;
  grid-template-rows: 70% 30%;
  margin: 50px auto;
  margin-bottom: 20px;
}

.card_container .title_section{
  box-sizing: border-box;
  padding: 40px;
}

.card_container > img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  max-height: 100%;
}

h5{
  background-color: limegreen;
}

#btn_newBattle{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 auto;
}
#btn_newBattle:hover{
  cursor: pointer;
  outline: 4px lightblue solid;
  text-decoration: none;
}


